

<div class="p-2">
  <div class="row">
    <div class="col-10 fs-1 text-center">  List des utilisateurs</div>
    <div class="col-2 text-end">
      déconnexion <i (click)="logOut()" class="fas fa-sign-out-alt fa-lg"></i>
    </div>
  </div>
    <div class=" mb-4">
      <button
        type="button"
        
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Ajouter un utilisateur
      </button>
    </div>
    <table class="table" >
      <thead>
        <tr class="table-light">
          <th scope="col-1">Id</th>
          <th scope="col-3">Nom</th>
          <th scope="col-2">Prenom</th>
          <th scope="col-4">Email</th>
          <th scope="col-2"></th>
        </tr>
      </thead>
      <tbody>
       
      </tbody>
    </table>
  </div>