

<div class="p-2">
  <div class="row">
    <div class="col-10 fs-1 text-center">  List des signalements</div>
    <div class="col-2 text-end">
      logOut <i (click)="logOut()" class="fas fa-sign-out-alt fa-lg"></i>
    </div>
  </div>
    <div class=" mb-4">
      <button
      type="button"
     
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      >
        Ajouter un signalements
      </button>
    </div>
   
  </div>
  <table class="table">
    <thead>
      <tr class="table-light">
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Product Code</th>
        <th>Observations</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of signalements">
        <td>{{ item.id }}</td>
        <td>{{ item.author.firstName }}</td>
        <td>{{ item.author.lastName }}</td>
        <td>{{ item.author.email }}</td>
        <td>{{ item.productCode }}</td>
        <td>
          <ul>
            <li *ngFor="let observation of item.observations">
              {{ observation.name }}
            </li>
          </ul>
        </td>
        <td>{{ item.description }}</td>
        <td> <i class="fa-solid fa-trash " ></i> &nbsp;&nbsp;<i class="fa-sharp fa-solid fa-pen-to-square"></i></td>
      </tr>
    </tbody>
  </table>

